/* 
   驴Qu茅 Son las Transiciones?
   Las transiciones son cambios en las propiedades CSS de un elemento que
   ocurren cuando se inicia un evento, como hover o focus. Por ejemplo, puedes
   hacer que un bot贸n cambie de tama帽o o color cuando el usuario pasa el
   cursor sobre 茅l.

    Conceptos Clave
    1. Estados de un Elemento:
      - Estado Inicial: El aspecto original del elemento.
      - Estado Final: El aspecto del elemento despu茅s de un evento
      (por ejemplo, al pasar el cursor).
    2. Propiedades de Transici贸n:
      - transition: Define c贸mo y cu谩ndo se aplican los cambios entre estados.
      - Duraci贸n: Puedes especificar la duraci贸n de la transici贸n en segundos o milisegundos.

    Mejora la Experiencia del Usuario
    Las transiciones no solo son para hacerlo m谩s bonito; tambi茅n gu铆an al
    usuario en su interacci贸n. Mejoran la comprensi贸n del flujo visual y
    hacen que el uso de tu aplicaci贸n sea m谩s placentero.

    驴Por Qu茅 Usar Transiciones?
    - Orientaci贸n Visual: Ayudan al usuario a entender c贸mo se relacionan diferentes elementos.
    - Est茅tica Mejorada: Hacen que tus dise帽os se vean profesionales y bien cuidados.
*/

/* 
  La Trampa del Hover 锔
  Cuando aplicamos transiciones, un aspecto crucial a considerar es d贸nde y
  c贸mo las definimos. A menudo, el error radica en a帽adir la propiedad de
  transici贸n 煤nicamente en el estado de hover, lo que puede resultar en
  efectos inesperados. Por ejemplo:

  Cuando haces hover, la transici贸n se despliega correctamente.
  Al salir del hover, deber铆a revertir al estado inicial, pero si la
  transici贸n no est谩 aplicada correctamente, 隆sorpresa! Un efecto abrupto
  puede aparecer.

  驴Por qu茅 ocurre esto? 
  Generalmente, es necesario establecer la transici贸n en el estado inicial
  del elemento. Si haces lo contrario, podr铆as encontrarte con efectos poco
  elegantes y un comportamiento err谩tico:
  .elemento {
    transition: all 0.5s ease;
  }
  
  .elemento:hover {
    ...
  }

  Mejores Pr谩cticas 
  Para evitar estos problemas, recuerda:
  1. Siempre colocar las transiciones en el estado inicial del elemento.
  2. Aplica transiciones de manera controlada y consistente en todos los
  estados que desees animar.
*/

.pulser {
  position: relative;
  width: 50px;
  height: 50px;
  background: #09f;
  border-radius: 100%;
  transition-duration: 2s;
}

.pulser:hover {
  scale: 2;
  background-color: purple;
  box-shadow: 0 0 10px purple;
}

body {
  display: grid;
  place-content: center;
  min-height: 50vh;
}
