/* 
   ¿Qué Son las Transiciones?
   Las transiciones son cambios en las propiedades CSS de un elemento que
   ocurren cuando se inicia un evento, como hover o focus. Por ejemplo, puedes
   hacer que un botón cambie de tamaño o color cuando el usuario pasa el
   cursor sobre él.

    Conceptos Clave
    1. Estados de un Elemento:
      - Estado Inicial: El aspecto original del elemento.
      - Estado Final: El aspecto del elemento después de un evento
      (por ejemplo, al pasar el cursor).
    2. Propiedades de Transición:
      - transition: Define cómo y cuándo se aplican los cambios entre estados.
      - Duración: Puedes especificar la duración de la transición en segundos o milisegundos.

    Mejora la Experiencia del Usuario
    Las transiciones no solo son para hacerlo más bonito; también guían al
    usuario en su interacción. Mejoran la comprensión del flujo visual y
    hacen que el uso de tu aplicación sea más placentero.

    ¿Por Qué Usar Transiciones?
    - Orientación Visual: Ayudan al usuario a entender cómo se relacionan diferentes elementos.
    - Estética Mejorada: Hacen que tus diseños se vean profesionales y bien cuidados.
*/

/* 
  La Trampa del Hover ⛔️
  Cuando aplicamos transiciones, un aspecto crucial a considerar es dónde y
  cómo las definimos. A menudo, el error radica en añadir la propiedad de
  transición únicamente en el estado de hover, lo que puede resultar en
  efectos inesperados. Por ejemplo:

  Cuando haces hover, la transición se despliega correctamente.
  Al salir del hover, debería revertir al estado inicial, pero si la
  transición no está aplicada correctamente, ¡sorpresa! Un efecto abrupto
  puede aparecer.

  ¿Por qué ocurre esto? 🤔
  Generalmente, es necesario establecer la transición en el estado inicial
  del elemento. Si haces lo contrario, podrías encontrarte con efectos poco
  elegantes y un comportamiento errático:
  .elemento {
    transition: all 0.5s ease;
  }
  
  .elemento:hover {
    ...
  }

  Mejores Prácticas 👍
  Para evitar estos problemas, recuerda:
  1. Siempre colocar las transiciones en el estado inicial del elemento.
  2. Aplica transiciones de manera controlada y consistente en todos los
  estados que desees animar.
*/

/* 
  🎨 Animaciones en Diferentes Estados
  🌟 ¿Qué son los Estados?
  Un elemento puede tener varios estados que impactan su apariencia y
  comportamiento. Algunos de los estados más comunes incluyen:
  - hover: Cuando el cursor está sobre el elemento.
  - focus: Cuando el elemento recibe el enfoque, por ejemplo, un campo de entrada.
  - active: Cuando se hace clic en el elemento.
  - target: Aplicable a elementos que se activan al hacer clic en un enlace.

  🎛️ Cambiar Estados con JavaScript
  Además de las interacciones del usuario, el cambio de clases mediante
  JavaScript también puede modificar el estado de un elemento. Por ejemplo,
  al agregar o eliminar una clase, puedes animar desde un estado inicial a un
  estado final.

  const button = document.querySelector('.my-button');
 
  button.addEventListener('click', () => {
    button.classList.toggle('active');
  });

  🛠️ Cuáles Elementos se Pueden Animar
  La buena noticia es que todos los elementos HTML son animables en cierta
  medida. Aun así, hay algunas restricciones. Por ejemplo, aunque puedes mover
  un <select>, no puedes animar sus estilos internos. Sin embargo, ¡siempre
  hay formas creativas de darle vida a tus elementos!
*/

.pulser {
  position: relative;
  width: 50px;
  height: 50px;
  background: #09f;
  border-radius: 100%;
  transition-duration: 2s;
}

.pulser:hover {
  scale: 2;
  background-color: purple;
  box-shadow: 0 0 10px purple;
}

body {
  display: grid;
  place-content: center;
  min-height: 50vh;
}
